<%= form_for(@document) do |f| %>
  <% if @document.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@document.errors.count, "error") %> prohibited this document from being saved:</h2>

      <ul>
      <% @document.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br>
    <%= f.text_field :name %>
  </div>
  <div class='links'>
    <%= link_to_add_association 'Add items', f, :items,:"data-association-insertion-method" => "append", class: 'btn btn-primary btn-success' %>
  </div>
  <div>
    <% f.fields_for :items do |i| %>
      <%= render(:partial => "item_fields", locals: {f: i}) %>
    <% end %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
