<p id="notice"><%= notice %></p>
<%= hidden_field_tag "flash_variant", @flash_variant %>
<h1>Product</h1>
<p>
  <strong>Name:</strong>
  <%= @product.name %>
</p>

<div>
  <strong>Variants:</strong>
  <% @product.variants.each do |variant| %>
    <div id="variant_<%= variant.id %>">
      <br>
      <strong>Name:</strong>
      <%= variant.name %>
      <%= link_to 'Destroy', product_variant_path(id: variant.id,product_id: @product.id), method: :delete, data: { confirm: 'Are you sure?' },remote: true %>
    </div>
  <% end %>
</div>


<%= link_to 'Back', :back %>
